<div class="">
  <div class="w-100 d-flex flex-row align-items-center justify-content-between gap-2">
    @if (isBook(item)) {
      <div class="w-100 d-flex flex-row align-items-center justify-content-start gap-4 item-card shadow rounded p-3 bg-light tappable-card" (click)="onCardTap()">
        <div class="flex-shrink-0">
          <h2>{{ index + 1 }} <fa-icon [icon]="faBook"></fa-icon></h2>
        </div>
        <div class="w-100">
          <h2>{{ item.title }}</h2>
          {{ item.author }}
        </div>
        
      </div>
      @if (isActive) {
      <div class="actions-cell">
          <book-form [bookToEdit]="item" (bookSaved)="itemSaved.emit()"></book-form>
          <delete-item [itemId]="item.id" [resource]="'books'" (itemDeleted)="itemDeleted.emit()"></delete-item>
        </div>
      }
      <div class="d-flex align-items-center justify-content-between gap-2">
        
      </div>
    } @else {
      <div class="w-100 d-flex flex-row align-items-center justify-content-start gap-4 item-card shadow rounded p-3 bg-light tappable-card" (click)="onCardTap()">
        <div class="flex-shrink-0">
          <h2>{{ index + 1 }} <fa-icon [icon]="faQuoteLeft"></fa-icon></h2>
        </div>
        <div class="w-100">
          <h2>{{ item.quotation }}</h2>
          {{ item.author }}
        </div>
      </div>
      @if (isActive) {
      <div class="actions-cell">
          <quote-form [quoteToEdit]="item" (quoteSaved)="itemSaved.emit()"></quote-form>
          <delete-item [itemId]="item.id" [resource]="'quotations'" (itemDeleted)="itemDeleted.emit()"></delete-item>
      </div>
      }
    }
  </div>
</div>
