header {
	position: sticky;
	top: 0;
	z-index: 1030;
}

.navbar{
	background-color: var(--bs-primary);
	color: var(--bsc-bg-light);
}

:host-context([data-bs-theme='dark']) .navbar {
	background-color: var(--bsc-primary-30);
	border-bottom: 1px solid var(--bs-primary) !important;
}

.navbar-text{
	color: var(--bsc-bg-light);
}

.app-nav-btn{
	border: 1px solid var(--bs-light);
	color: var(--bs-light);
	width:100%;
	min-width:180px;
}

.app-nav-btn:hover{
	border: 1px solid var(--bsc-primary-70);
	color: var(--bs-light);
	background-color:var(--bsc-primary-70);
}

.app-nav-btn.active{
    background-color: var(--bsc-bg-light);
    border-color: var(--bsc-bg-light);
    color: var(--bsc-primary-70);
    text-decoration: underline;
    font-weight: 700;
}