.app-nav-btn{
	border: 1px solid var(--app-border-color-strong);
	color: var(--bs-body-color);
	width:100%;
	min-width:180px;
}

.app-nav-btn:hover{
	border: 1px solid var(--bs-primary);
	color: var(--bs-primary);
}

.app-nav-btn.active {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
	color: var(--bs-white);
	text-decoration: underline;
	font-weight: 700;
}

header {
	position: sticky;
	top: 0;
	z-index: 1030;
}

.navbar{
	background-color: var(--bs-primary);
}

.navbar-text{
	color: var(--bsc-bg-light);
}

.app-nav-btn.active{
    background-color: var(--bsc-bg-light);
    border-color: var(--bsc-bg-light);
    color: var(--bsc-primary-70);
    text-decoration: underline;
    font-weight: 700;
}