.app-nav-btn{
	border: 1px solid var(--bs-border-color);
	color: var(--bs-body-color);
	width:100%;
	min-width:150px;
}
.app-nav-btn:hover{
	border: 1px solid var(--bs-primary);
	color: var(--bs-primary);
}

.app-nav-btn.active {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
	color: var(--bs-white);
	text-decoration: underline;
	font-weight: 700;
}