.table {
  --bs-table-bg: none;
}

.actions-cell {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

.actions-cell.actions-visible {
  opacity: 1;
  pointer-events: auto;
}

/* Show when row is hovered */
.quote-row:hover .actions-cell {
  opacity: 1;
  pointer-events: auto;
}

.book-card{
  background-color: var(--bs-secondary-bg);
}