/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

:root{
	--bsc-primary-10: #2865C0;
	--bsc-primary-30: #1F4F95;
	--bsc-primary-70: #0E2240;
	--bsc-bg-light: #F8F9FA;
	--bsc-primary-gradient: radial-gradient(
		circle at bottom right,
		var(--bs-primary) 0%,
		var(--bsc-primary-10) 100%
		);

	--bsc-primary-dark-gradient: radial-gradient(
		circle at bottom right,
		var(--bsc-primary-30) 0%,
		var(--bsc-primary-70) 100%
		);
}

.btn-secondary{
		border-color:var(--bs-primary);
		background: var(--bsc-primary-70);
	};

	.btn-secondary:hover{
		border-color:var(--bs-primary);
		background: var(--bsc-primary-30);
	};

[data-bs-theme='light'] {
	--app-border-color-strong: var(--bs-dark);
	
	/* .btn-secondary{
		background-color: var(--bsc-primary-70);
	}
	.btn-secondary:hover{
		background-color: var(--bsc-primary-30);
	} */
}

[data-bs-theme='dark'] {
	--app-border-color-strong: var(--bs-light);
	--bs-body-color: var(--bsc-primary-70);
	--bs-body-bg: var(--bsc-primary-70);
	--bs-heading-color: var(--bsc-primary-70);

	.btn-secondary{
		background: var(--bs-primary);
	}
	.btn-secondary:hover{
		background-color: var(--bsc-primary-10);
	}
}

.form-check-input{
	height: 1.5em;
	width: 2.7em !important;
	border-color: var(--app-border-color-strong);
	background-color: white;
}

.shadow{
	box-shadow: 0 0 30px rgba(var(--bs-body-color-rgb),0.2) !important;
}

.form-control {
	border: 1px solid var(--bs-primary);
	box-shadow: 0 0 30px rgba(var(--bs-primary-rgb),0.3) !important;
}