/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

:root{
	--bsc-primary-10: #2865C0;
	--bsc-primary-30: #1F4F95;
	--bsc-primary-70: #0E2240;
	--bsc-bg-light: #F8F9FA;
	--bsc-primary-gradient: radial-gradient(
		circle at bottom right,
		var(--bs-primary) 0%,
		var(--bsc-primary-10) 100%
		);

	--bsc-primary-dark-gradient: radial-gradient(
		circle at bottom right,
		var(--bsc-primary-30) 0%,
		var(--bsc-primary-70) 100%
		);
	--primary-rgb-local: var(--bs-primary-rgb);
	--login-bg-gradient : linear-gradient(rgba(var(--primary-rgb-local),0.3), rgba(var(--primary-rgb-local),0.1), rgba(var(--primary-rgb-local),0.3));
	/* --login-bg-gradient-dark :linear-gradient(rgba(var(--primary-rgb-local),0.4), rgba(0,0,0,0.5), rgba(var(--primary-rgb-local),0.7)); */
}

h1,h2,h3,h4,h5,h6 {
    color: var(--bsc-primary-70);
}

body{
	background:
		var(--login-bg-gradient),
		linear-gradient(rgba(225,225,225,0.9), rgba(255,255,255,0.9)),
		url('/assets/images/9a245ef2-1b22-443f-92fc-e6f637ecf322.png');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: cover, cover, cover;
	background-position: center, center, center;
}

body[data-bs-theme='dark']{
	background:
		var(--login-bg-gradient),
		linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
		url('/assets/images/9a245ef2-1b22-443f-92fc-e6f637ecf322.png');
		background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: cover, cover, cover;
	background-position: center, center, center;
}

.modal-header, .modal-footer{
 border-color:var(--bs-primary);
}

.btn-secondary{
		border-color:var(--bs-primary);
		background: var(--bsc-primary-70);
	};

	.btn-secondary:hover{
		border-color:var(--bs-primary);
		background: var(--bsc-primary-30);
	};

[data-bs-theme='light'] {
	--app-border-color-strong: var(--bs-dark);
}

[data-bs-theme='dark'] {
	--app-border-color-strong: var(--bs-light);
	--bs-body-color: var(--bsc-primary-70);
	--bs-body-bg: var(--bsc-primary-70);

	.btn-secondary{
		background: var(--bs-primary);
	}
	.btn-secondary:hover{
		background-color: var(--bsc-primary-10);
	}
	.bg-light{
		background-color:var(--bsc-primary-70) !important;
		border: 1px solid var(--bs-primary);
	}
	h1,h2,h3,h4,h5,h6{
		color:var(--bs-light);
	}
	.table > :not(caption) > * > * {
		color:var(--bs-light);
	}
	tr{
		border-color:var(--bs-primary)
	}
	.invalid-feedback{
		color:var(--bs-danger);
	}

	.modal-content {
		color:var(--bsc-bg-light);
	}
}

.text-dark{
	color:var(--bs-light) !important;
}

.form-check-input{
	height: 1.5em;
	width: 2.7em !important;
	/* border-color: none; */
	background-color: white;
}

.invalid-feedback{
	color:var(--bsc-primary-70);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
	box-shadow: 0 0 30px rgba(var(--bs-body-color-rgb),0.8) !important;
}

.form-control::placeholder{
	color:var(--bsc-primary-30);
}

.form-control:focus, .form-control{
	color:var(--bs-light);
}

.shadow{
	box-shadow: 0 0 30px rgba(var(--bs-body-color-rgb),0.2) !important;
}

.form-control {
	border: 1px solid var(--bs-primary);
	box-shadow: 0 0 30px rgba(var(--bs-primary-rgb),0.3) !important;
	color:var(--bsc-primary-70);
}

/* Chrome / Xiaomi / Android */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--bsc-primary-70); /* TEXT COLOR */
  transition: background-color 9999s ease-in-out 0s;
}

.table > :not(caption) > * > * {
	color:var(--bsc-primary-70);
}