/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

[data-bs-theme='light'] {
	--app-border-color-strong: var(--bs-dark);
}

[data-bs-theme='dark'] {
	--app-border-color-strong: var(--bs-light);
}

.form-check-input{
	height: 1.75em;
	width: 3.5em !important;
	border-color: var(--app-border-color-strong);
	background-color: white;
}