/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

[data-bs-theme='light'] {
	--app-border-color-strong: var(--bs-dark);
}

[data-bs-theme='dark'] {
	--app-border-color-strong: var(--bs-light);
}

