:host{
	/* --primary-rgb-local: var(--bs-primary-rgb);
	--login-bg-gradient : linear-gradient(rgba(var(--primary-rgb-local),0.5), rgba(var(--primary-rgb-local),0.2), rgba(var(--primary-rgb-local),0.5));
	--login-bg-gradient-dark :linear-gradient(rgba(var(--primary-rgb-local),0.4), rgba(0,0,0,0.5), rgba(var(--primary-rgb-local),0.7)); */
	--bs-heading-color: var(--bsc-bg-light);
}

.text-dark{
	color: var(--bsc-primary-70) !important;
}

.register-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
}

.register-card {
  width: 100%;
  max-width: 420px;
  background-color: var(--bs-primary);
	color: var(--bsc-bg-light);
	border: 1px solid var(--bs-primary)
}

:host-context([data-bs-theme="dark"]) .register-card {
	background-color: var(--bsc-primary-30);
	color: var(--bsc-bg-light);
}

:host-context([data-bs-theme="dark"]) .text-dark{
	color: var(--bsc-bg-light) !important;
}

:host-context([data-bs-theme="dark"]) .secondary-text{
	color: var(--bsc-primary-70) !important;
}